/* App.css */
body{
  background-color:rgb(98, 223, 236);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin-right: 20px;
  
}


.board-row {
  display: flex;
  
}

.square {
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  display: flex; /*flexes the boxes*/
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer; /*allows mouse to point*/
}

.square:hover {
  background-color:aquamarine;
}

.game-info {
  font-size: 18px;
 
}

.game-info,
.api-section {
  margin-top: 20px;
}

.api-section{
  margin: center;
  margin-left: 50px;
  background-color: beige;
  margin-left: 12%;
  width: 450px;
  height: 200px;
}

.Info{
  text-align: center;
}


.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  
}

